:root {
    --color-bg-dark: #232527;
    --color-bg: #2C2D2D;
    --color-text-light: #D8D2C2;
    --color-accent: #A78D66;
    --color-accent-alt: #A68A67;
    --font-primary: 'Oswald', sans-serif;
  }
  