.btn {
    padding: 0.8rem 1.5rem;
    background-color: var(--color-accent);
    border: none;
    color: black;
    font-weight: bold;
    font-family: var(--font-primary);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: var(--color-accent-alt);
  }
  